.input {
    background: none;
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 0.5rem;
    font-family: var(--roboto);
    font-size: 1.25rem;
    width: 100%;
}

.input-title {
    font-size: 2rem;
   
}
.invalid {
    border: 1px solid red;
    background: lightpink;
}