.button {
    border-radius: 0.25rem;
    border: none;
    padding: 0.5rem;
    transition: background 0.5s;
    font-size: 1rem;
    cursor: pointer;
}

.button:hover {
    background: darkblue;
}

.hero {
    background: blue;
}