:root {
  --bg: white;
  --roboto: 'Roboto', sans-serif;
 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  box-sizing: border-box;
  background: var(--bg);
  max-width: 960px;
  font-family: var(--roboto);
  margin: auto;
}
