.note-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.input-title {
    border: none;
    background: none;
    border-bottom: 1px solid gray;
    font-size: 2rem;
    font-family: var(--roboto);
    width: 100%;
}
.note-form_row {
    display: flex;
    align-items: center;
}
.note-form_label {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    min-width: 7.5rem;
}
.input {
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 0.5rem;
    background: none;
    border-bottom: 1px solid gray;
    font-family: var(--roboto);
    font-size: 1.25rem;
}
.invalid {
    border: 1px solid red;
    background: lightpink;
}

.delete {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}